.navi-image {
    height: 240px;
}
.navi-card {
    height:"40em";
    margin-top: 2em;
}
@media (min-width: 991px) {
    .navi-image {
        height: 300px;
    }
    .navi-card {
        height:"30em" !important;
        margin-top: 2em;
    }
} 