.navbar {
  background-color: white !important;
}

.nav-link {
    font-family: Lato,sans-serif !important;
    font-weight: 700 !important;
    color: black !important;
    padding-left:30px !important;
    padding-right:30px !important;

}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  .navbar-nav > .active > a {
    color: #38906C;
  }
  .nav-item > a:hover {
    color: #015685;
  }
  .dropdown-toggle:hover {
    color: #015685;
  }
  .dropdown-list-item {
    /* font-family: Lato,sans-serif; */
    font-weight: 700 !important;
    color: black !important;
  }